<section>
<div align=center>
<h1><b>El Siguiente Programa</b></h1>

El Siguiente Programa es la continuación de La Tele, un programa de radio donde Martín y Santiago hacían sus reportajes y críticas acerca de este país mal hecho, Chibchombia!
<br></br>
<h2>Nuestras Malditas Cuentas</h2>
<a href="http://www.youtube.com/channel/UC33uXetur-EmChlf3zHE8kA"><img src="/youtube.png" alt="canal de El siguiente programa en Youtube"></a>  <a href="https://www.facebook.com/elsiguienteprogramatv" ><img src="/facebook.png" alt="página de El siguiente programa en facebook"></a>  <a href="https://twitter.com/siguienteprogra"><img src="/twitter.png" alt="cuenta de El siguiente programa en Twitter"></a>
</div>

<div aling=center>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script></div>

<div aling=center><b>Second option:</b></div>

<div aling=center>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
</section>
