<section>
<div align=center>
<h1><b>El Siguiente Programa</b></h1>

El Siguiente Programa es la continuación de La Tele, un programa de radio donde Martín y Santiago hacían sus reportajes y críticas acerca de este país mal hecho, Chibchombia!
<br></br>
<h2>Nuestras Malditas Cuentas</h2>
<a href="http://www.youtube.com/channel/UC33uXetur-EmChlf3zHE8kA"><img src="/youtube.png" alt="canal de El siguiente programa en Youtube"></a>  <a href="https://www.facebook.com/elsiguienteprogramatv" ><img src="/facebook.png" alt="página de El siguiente programa en facebook"></a>  <a href="https://twitter.com/siguienteprogra"><img src="/twitter.png" alt="cuenta de El siguiente programa en Twitter"></a>
</div>

<div aling=center class="fb-like-box" data-href="http://www.facebook.com/elsiguienteprogramatv" data-width="270" data-height="400" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
<br></br>
<div align=center>
<img src="/martin_y_santigo.png" alt="Martin y Santiago">
</div>

</section>
