{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}


<script type="text/javascript">(function(d, t, e, m){
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
        RW.init({
            huid: "146610",
            uid: "9a93d674042395d7318fd083dfa30963",
            source: "website",
            options: {
                "advanced": {
                    "text": {
                        "rateThis": "Califica este capítulo",
                        "like": "Me gusta",
                        "dislike": "No me gusta",
                        "vote": "Voto"
                    }
                },
                "size": "medium",
                "type": "nero",
                "lng": "es",
                "style": "thumbs_bp"
            } 
        });
        RW.render();
    };

    // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        p = d.location.protocol, a = ("https:" == p ? "secure." + 
        m + "js/" : "js." + m), ck = "Y" + t.getFullYear() + "M" + 
        t.getMonth() + "D" + t.getDate();
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external.min.js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
}(document, new Date(), "script", "rating-widget.com/"));</script>
<!-- Place this code above the closing body tag of the page -->
<script type="text/javascript">
var adParams = {
  a: '52001043', numOfTimes: '3',duration: '24' ,serverdomain: 'adk2trk2.cpmrocket.com',size: '800x600' ,period: 'Hour'   
};
</script>
<script type="text/javascript" src="http://adk2cdn.cpmrocket.com/cpmrocket/scripts/popup/popup.js"></script>
</body>
</html>
