<ul class="main-navigation">
  <li>Temporadas</li>
  <li><a href="{{ root_url }}/temporada-1">1</a></li>
  <li><a href="{{ root_url }}/temporada-2">2</a></li>
  <li><a href="{{ root_url }}/temporada-3">3</a></li>
  <li><a href="{{ root_url }}/temporada-4">4</a></li>
  <li><a href="javascript:doSomething();">Capítulo al Azar!</a></li>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="javascript">
  function doSomething() {
  alert("XXXXXXXX");

 jQuery.getFeed({
   url: 'elsiguienteprograma.tv/atom.xml',
   success: function(feed) {
     alert(feed.title);
   }
 });

  alert("dsdasda");
  
}
</script>


</ul>
